.navbar {
  @include flex(space-between, flex-start, row, nowrap);
  padding: 23px 0 11px;

  img {
    max-width: none;
  }

  &-menu {
    @include flex(flex-end, center, row, nowrap);

    .navbar-sign {
      @include flex(space-between, center, row, nowrap);
    }
  }

  .logo {
    @include flex(flex-start, flex-start, row, nowrap);
  }

  .upper-logo {
    padding-left: 5px;
  }

  &-item {
    margin-left: 44px;

    :hover {
      color: #00a6ed;
      text-decoration: underline;
    }
  }

  &-text {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 500;
    line-height: 0.71;
    color: #000000;
  }

  &-button {
    margin-left: 45px;
    width: 130px;

    &:hover,
    &:focus {
      background-color: #ffffff !important;
      border: solid 2px #00a6ed;
      color: #00a6ed !important;
      font-weight: 600;
    }
  }

  &-button-text {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 14px;
    line-height: 0.71;
    letter-spacing: 0.21px;
    color: #ffffff;
  }

  &-enter {
    font-family: "Raleway";
    margin-top: -1px;
    margin-left: 29px;

    :hover {
      color: #000000 !important;
      text-decoration: underline;
    }
  }
}

.enter-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.21px;
  color: #00a6ed !important;
}

.background-header {
  background-image: linear-gradient(151deg, #00a6ed -9%, #00eb98 100%);
  position: relative;
  height: 500px;
  overflow: hidden;

  .container {
    padding-top: 134px;
    @include flex(space-between, flex-end, row, nowrap);
  }

  .header-img {
    width: 584px;
    height: 470px;
    top: 31px;
    left: 53%;
    overflow: hidden;
    position: absolute;
  }

  .background-img {
    @include backgr(url(../img/illustration-desk.png));
    @extend %backgr;
    height: inherit;
    background-position-x: left;
    overflow: hidden;
  }

  .text-block {
    // margin-left: -3px;
    @include flex(space-between, flex-start, column, nowrap);
  }

  .title {
    // width: 464px;
    font-family: "DidactGothic";
    font-size: 55px;
    font-weight: normal;
    line-height: 1.15;
    letter-spacing: normal;
    color: #f7f8f8;
  }

  .subtitle {
    margin: 33px 0 44px 0px;
    // width: 345px;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.24px;
    color: #f7f8f8;
  }

  .img {
    min-width: 585px;
    margin-right: -27px;
    overflow: hidden;
  }

  .button-container {
    @include flex(flex-start, center, row, nowrap);
    padding-bottom: 64px;
    margin: 0;

    button:first-of-type {
      margin-right: 30px;

      &:hover {
        background-image: linear-gradient(111deg, #00bbd2 -1%, #00c8c2 100%);
      }
    }

    button:last-of-type {
      margin-right: 44px;

      &:hover {
        background-image: linear-gradient(111deg, #00cac1 -1%, #00d7b1 100%);
      }
    }
  }
}

.button {
  margin: 0;
  height: 49px;
  width: 230px;
  border: none;
  background-color: #ffffff;
  @include flex(space-between, center, row, nowrap);
  padding: 0 19px 0 29px;
  border: solid 2px #ffffff;

  &-text {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.24px;
    color: #000000;
    letter-spacing: -0.1px;
  }

  .arw-btn {
    fill: #000000;
    width: 6px;
    height: 10px;
  }

  &:hover {
    border: solid 2px #ffffff;

    .button-text {
      color: #ffffff;
    }

    .arw-btn {
      fill: #ffffff;
    }
  }
}

.button-container .icon-chevron-right {
  color: #000000;
  font-size: 12px;
  margin: 0;
}

@media (max-width: 1050px) {
  .background-header {
    .header-img {
      overflow: hidden;
      left: 565px;
    }
  }
}

@media (max-width: 991px) {
  .background-header {
    background-image: linear-gradient(126deg, #00a6ed -4%, #00eb98 100%);

    .img {
      img {
        overflow: hidden;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar_container {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 100;
  }

  .navbar {
    width: 85%;
    padding-top: 16px;
    padding-bottom: 21px;
    align-items: flex-end;
    margin: 0 auto;

    .burger-footer-menu {
      margin-left: -7.5%;
      padding-top: 12px;
      padding-bottom: 17px;
      width: 100%;
      height: 127px;
      background-color: #f0f0f1;
      @include flex(space-between, flex-start, column, nowrap);

      .footer__facebook {
        margin-left: 7.5%;
        font-size: 13px;
        font-size: calc(13px + (1 + 5 * 0.6) * ((100vw - 375px) / 768));
        font-weight: normal;
        line-height: 2.77;
      }

      .item {
        margin-left: 7.5%;
        font-family: "Raleway";
        font-size: 13px;
        font-size: calc(13px + (1 + 5 * 0.6) * ((100vw - 375px) / 768));
        font-weight: normal;
        line-height: 2.77;
        color: #00a6ed;
      }

      .item-block {
        @include flex(space-between, flex-start, row, nowrap);
        margin-left: 7.5%;
        width: 43.5%;
        max-width: 163px;

        .item {
          margin-left: 0;
          font-family: "Raleway";
          font-size: 13px;
          font-size: calc(13px + (1 + 5 * 0.6) * ((100vw - 375px) / 768));
          font-weight: normal;
          line-height: 1.77;
          color: #00a6ed;
        }
      }
    }

    .navbar-menu {
      background-color: #f0f0f1;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      height: calc(100vh - 57px - 127px);
      margin-left: -7.5%;

      .navbar-item {
        margin: 0;
        margin-left: 7.5%;
        margin-top: 14px;
        margin-bottom: 10px;

        .navbar-text {
          font-size: calc(14px + (4 + 5 * 0.6) * ((100vw - 375px) / 768));
        }
      }

      .navbar-button {
        font-family: "Raleway";
        margin: 0;
        width: 70.5%;
        max-width: 260px;
        height: 44px;
        font-size: calc(14.5px + (1 + 5 * 0.6) * ((100vw - 375px) / 768));
        font-size: 14px;
      }

      .navbar-sign {
        width: 73%;
        margin-top: 33px;
        margin-left: 7.5%;
      }

      .navbar-enter {
        margin: 0;
        margin-left: 7.5%;

        .enter-text {
          font-size: calc(15.5px + (1 + 5 * 0.6) * ((100vw - 375px) / 768));
        }
      }

      hr {
        width: 100%;
        border-top: solid 1px #d9d9da;
        margin-left: 0 !important;
      }
    }

    .img-logo {
      width: 112px;
    }
  }

  .background-header {
    background-image: linear-gradient(151deg, #00a6ed -9%, #00eb98 100%);
    margin-top: 57px;
    height: auto;

    .header-img {
      display: none;
    }

    .container {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 51px;
      .img {
        min-width: auto;
        padding-right: 68px;
      }
    }

    .title {
      font-size: calc(40px + (50 + 11 * 0.7) * ((100vw - 375px) / 1440));
      // width: auto;
      line-height: 1;
      letter-spacing: -0.5px;
    }

    .subtitle {
      font-size: calc(13px + (16 + 11 * 0.7) * ((100vw - 375px) / 1440));
      // width: auto;
      // max-width: 375px;
      margin: 23px 0 29px 0;
      letter-spacing: 0px;
    }

    .button-container {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 41px;
      max-width: 400px;

      button:first-of-type {
        width: 163px;
        margin-bottom: 15px;
      }

      button:last-of-type {
        width: 208px;
      }

      .button {
        padding-left: 22px;
        padding-right: 15px;
        height: 44px;

        .button-text {
          margin: 0;
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .header-img-mob {
    display: none;
  }

  .navbar {
    .toggle_button,
    #burger-menu,
    .burger-footer-menu,
    hr {
      display: none;
    }
  }
}
