.project-checkbox {
  margin-bottom: 28px;

  .project-tab {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    color: #000000;
  }

  .tabs {
    display: flex;
    flex-wrap: wrap; // make sure it wraps
  }
  .tabs label {
    order: 1; // Put the labels first
    display: block;
    margin-right: 50px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background ease 0.2s;
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 500;
    line-height: 3.05;
    color: #000000;
  }
  .tabs .tab {
    order: 99; // Put the tabs last
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 24px 31px 26px 30px;
    background: #fff;
  }
  .tabs input[type="radio"] {
    display: none;
  }
  .tabs input[type="radio"]:checked + label {
    color: #00a6ed;
  }
  .tabs input[type="radio"]:checked + label + .tab {
    display: block;
  }

  // @media (max-width: 45em) {
  //   .tabs .tab,
  //   .tabs label {
  //     order: initial;
  //   }
  //   .tabs label {
  //     width: 100%;
  //     margin-right: 0;
  //     margin-top: 0.2rem;
  //   }
  // }
}

@media (max-width: 1000px) {
  .project-checkbox {
    margin-bottom: 0;

    .tabs label {
      margin-right: 46px;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 3.81;
    }

    .tabs .tab {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 19px;
    }
  }
}

@media (max-width: 699px) {
  .project-checkbox {
    background-color: #fff;

    .container-mobile {
      width: 85% !important;
      margin: 0 auto !important;
    }

    .tabs label {
      margin-right: 0;
      width: 30.33%;
      line-height: 3.35;
      background-color: #f0f0f1;
    }
  }

  label[for="tabone"] {
    padding-left: 7.5% !important;
  }

  label[for="tabtwo"] {
    width: 35.7% !important;
    margin-left: -6.5% !important;
    display: flex !important;
    justify-content: center;
  }

  label[for="tabthree"] {
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 7.5% !important;
    margin-left: -3.8% !important;
    width: 44.2% !important;
    display: flex !important;
    justify-content: flex-end;
  }
}
