@media (max-width: 900px) {
  .navbar .navbar-menu .navbar-button {
    // width: 100%;
  }
  .navbar-sign a {
    width: 70.5%;
    max-width: 260px;
  }

  .sign-in {
    .background-header {
      @include flex(flex-end, flex-end, row, wrap);
      height: 188px;

      .title {
        margin-bottom: 26px;
      }
    }

    .popup-content {
      .popup-form-authorization-mobile {
        grid-template-rows: 1fr 0.2fr 0.2fr !important;
        grid-template-areas:
          "grid-item1"
          "grid-item3"
          "grid-item4" !important;
      }
      .popup-form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.6fr 0.2fr 0.2fr;
        grid-template-areas:
          "grid-item1"
          "grid-item2"
          "grid-item3"
          "grid-item4";

        .submit-wrapper {
          margin: auto;

          a {
            width: 100%;
          }
        }

        .grid-item-3 {
          align-items: flex-start;

          .input-button {
            width: 72% !important;
            padding-right: 15px;
            padding-left: 20px;
            margin-bottom: 24px;
            margin-top: 30px;
            max-width: 250px;
            padding-left: 7.4% !important;
            padding-right: 5% !important;
          }

          .line {
            margin-top: 24px !important;
          }
          .consent {
            padding: 0;
            width: 85%;
          }

          .consent-authorization {
            font-size: 14px;
          }
        }

        .grid-item-4 {
          flex-direction: column;
          align-items: flex-start;
          padding-top: 29px;

          .button {
            margin: 0;
            height: 44px;
            padding-left: 9%;
          }

          .facebook {
            width: 80%;
            margin-bottom: 16px;
            max-width: 300px;
          }

          .facebook-authorization {
            width: 70%;
            max-width: 250px;
          }

          .google {
            width: 74%;
            max-width: 280px;
            margin-bottom: 30px;
          }

          .google-authorization {
            width: 64%;
            max-width: 230px;
          }
        }

        .form-wrapper {
          max-width: 350px;
        }
      }
    }

    .footer__navbar {
      margin-bottom: 25px !important;
    }
  }

  .password-recovery {
    margin-top: 57px;
    background-color: #f0f0f1;
    height: calc(100vh - 57px);

    .title {
      padding-top: 22px;
      font-family: "DidactGothic";
      font-size: 24px;
      font-weight: normal;
      line-height: 1.29;
      color: #000000;
    }

    .popup-content {
      .popup-form {
        display: block;
        .form-wrapper {
          margin-bottom: 29px;
          max-width: 418px;
        }

        .input-button {
          width: 72% !important;
          margin-bottom: 24px;
          max-width: 250px;
          padding-left: 7.4% !important;
          padding-right: 5% !important;
        }
      }
    }
  }

  .reset {
    .text {
      padding-top: 24px;
      width: 295px;
      font-family: "Raleway";
      font-size: 12px;
      font-weight: 500;
      line-height: 1.75;
      color: #28283d;
    }
  }
}
