.block-container {
  @include flex(space-between, stretch, row, nowrap);
}

.block {
  background-color: #ffffff;
  width: 24%;

  &:not(:first-child) {
    margin-left: 27px;
  }
}

.img {
  position: relative;
  height: 152px;

  img {
    min-width: 100%;
    object-fit: cover;
    height: fit-content;
  }
}

.location {
  position: absolute;
  bottom: 4%;
  left: 7.5%;
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.33;
  letter-spacing: 0.78px;
  text-align: left;
  color: #ffffff;
}

.content {
  height: 135px;
  padding: 14px 20px 13px 18.5px;
  @include flex(space-between, stretch, column, nowrap);

  &:hover .content-title {
    color: #000000;
    text-decoration: underline;
    font-weight: 500 !important;
  }

  &-title {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: #00a6ed;
  }

  &-progress {
    width: 100%;
    margin-bottom: 17px;
    background-color: #f0f0f1;
    height: 3px;

    &-status {
      height: 3px;
      background-color: #00a6ed;
      width: 10%;
    }
  }

  &-time {
    margin-right: 2px;
  }

  &-how-much-text {
    font-size: 12px;
    font-weight: 500;
  }

  &-how-much-figures {
    font-size: 12px;
    font-weight: 500;
  }
}

.project-preview__slider {
  padding: 65px 0 63px;

  .slider-link {
    @include flex(flex-start, center, row, nowrap);

    &:hover {
      text-decoration: underline;
      color: #00a6ed;

      .arw-btn {
        fill: #00a6ed !important;
      }

      .slider-link-text {
        color: #00a6ed;
      }
    }

    .button {
      border: none !important;
    }

    &-text {
      font-family: "Raleway";
      font-size: 14px;
      font-weight: 500;
      line-height: 0.8;
      color: #28283d;
    }
  }
}

.dots {
  @include flex(flex-end, center, row, nowrap);
  height: 12px;
  padding-right: 11.5px;

  .r-hover.first {
    fill: #000000 !important;
  }

  a:focus {
    .r-hover {
      fill: #000000 !important;
      stroke: #000000 !important;
    }
  }

  .r-hover {
    fill: #ffffff !important;
    stroke: #000000 !important;
    width: 10px;
    height: 10px;

    &:hover {
      fill: #ffffff !important;
      stroke: #00a6ed !important;
    }
  }
}

.icon-circle {
  margin-left: 6px;
}

.slider-link .icon-chevron-right {
  margin-left: 15px;
  font-size: 12px;
}

@media (max-width: 991px) {
  .project-preview {
    .block {
      min-width: 279px;
    }

    .block-container {
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }

    .project-preview__slider {
      padding-top: 59px;
      padding-bottom: 58px;
    }

    .slider-link {
      margin-right: -20px;
    }

    .slider-link .icon-chevron-right {
      margin-left: 15px;
    }
  }
}

@media (max-width: 699px) {
  .project-preview {
    padding-bottom: 47px;
    .block-container {
      flex-direction: column;
      overflow: hidden;
    }

    .block {
      width: auto;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &:not(:first-child) {
        margin-left: 0;
      }

      &:last-child {
        display: none;
      }

      .img {
        height: auto;
        img {
          height: auto;
        }
      }

      .content {
        padding-top: 13px;
      }

      .content-time {
        margin-right: 45px;
      }

      .content-progress {
        margin-bottom: 16px;
      }

      .content-how-much-figures {
        line-height: 1.9;
      }

      .content-title {
        max-width: 190px;
      }
    }

    .one-half:first-child {
      display: none;
    }

    .one-half:last-child {
      width: 100%;
    }

    .button {
      max-width: 211px;
      height: 44px;
      padding: 0 18px 0 21px;
    }

    .project-preview__slider {
      padding: 0;
      display: flex;
      margin-top: -3px;
    }

    .project-preview__slider .slider-link {
      margin: 0;
      @include flex(space-between, center, row, nowrap);

      .slider-link-text {
        font-size: 16px;
        letter-spacing: 0;
      }
    }
  }
}

@media (min-width: 700px) {
  .project-preview .button {
    width: auto;
    height: auto;
    background-color: inherit;
    padding-left: 25px;
    letter-spacing: inherit;
    margin-left: 0;
    border: none;
  }
}

@media (max-width: 400px) {
  .project-preview {
    .img img {
      min-height: 174px;
      height: fit-content !important;
    }
  }
}
