.want-help {
  padding: 104px 0 101px 0;

  .text-block {
    @include flex(flex-start, flex-start, row, wrap);
    margin-bottom: 50px;
  }

  .img-container {
    position: relative;
    @include flex(space-between, center, row, wrap);
    margin-right: 82px;

    .chevron-icon {
      padding-top: 35px;
      margin-right: 25px;
    }
  }

  .img-text-block {
    @include flex(space-between, center, row, wrap);

    &--center {
      padding-right: 20px;
    }

    .img--center {
      padding-top: 32px;
    }
    .img-text {
      font-family: "Raleway";
      font-size: 16px;
      font-weight: 500;
      line-height: 1.38;
      color: #000000;
      padding-top: 40px;

      &--photo {
        padding-left: 37px;
      }
      &--target {
        padding-left: 20px;
      }
    }
  }
}

.block-title {
  font-family: "DidactGothic";
  font-size: 35px;
  font-weight: normal;
  line-height: 0.86;
  letter-spacing: normal;
  color: #000000;
  max-width: 750px;
}

@media (max-width: 991px) {
  .want-help {
    padding: 53px 0 54px 0;

    .text-block {
      margin-bottom: 50px;
    }
    .block-title {
      font-size: 34px;
      margin-left: -3.5px;
    }

    .img-text-block {
      flex-direction: column;
      align-items: flex-start;
      height: 201px;

      &--center {
        padding-right: 3px;
      }
    }

    .img-container {
      margin-right: 80px;

      .img-text-block {
        &--center {
          padding-left: 20px;
        }

        .img--last {
          margin-top: 12px;
        }

        .img--first {
          margin-top: 7px;
        }

        .img-text {
          &--publish {
            padding: 0;
            margin-bottom: 0px;
          }

          &--photo {
            padding: 0;
          }
          &--target {
            padding: 0;
            margin-left: -5px;
          }
        }
      }

      .chevron-icon {
        padding: 0px;
        margin-top: -29px;

        &--left {
          padding-left: 8px;
        }

        &--right {
          padding-left: 34px;
          padding-right: 0px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .want-help {
    padding-top: 18px;
    padding-bottom: 39px;

    .text-block {
      margin-bottom: 23px;
    }

    .img-container {
      margin-right: 0;
    }

    .img-text-block {
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
      height: auto;
      padding-left: 0 !important;

      &:last-child {
        padding-top: 18px;
      }

      .img--center {
        padding-top: 49px;
      }

      .img-text {
        padding-left: 18px !important;

        &--publish {
          margin-bottom: -5px !important;
        }

        &--photo {
          padding-bottom: 12px !important;
        }

        &--target {
          padding-bottom: 18px !important;
          margin-left: 0px !important;
        }
      }

      img {
        max-width: 88px;
      }
    }

    .block-title {
      max-width: 250px;
    }

    .chevron-icon {
      display: none;
    }
  }

  .block-title {
    font-size: 30px !important;
    line-height: 1.17 !important;
    max-width: 292px;
  }
}
