@media (max-width: 768px) {
  #burger-menu {
    cursor: pointer;
    height: 12px;
    width: 20px;
    overflow: visible;
    position: relative;
    z-index: 2;
  }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: #00a6ed;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span {
    right: 0px;
    top: 5px;
    width: 20px;
  }
  #burger-menu span:before {
    left: 0px;
    top: -4px;
    width: 20px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 4px;
    width: 20px;
  }

  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 5px;
    width: 20px;
    background: #000 !important;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 20px;
    background: #000 !important;
  }
  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }

  #menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
  }

  #menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 57px;

    hr {
      background-color: #f0f0f1;
      margin: 0;
      margin-left: -7.5%;
      border-top: solid 1px #d9d9da;
    }
  }
}
