.choose {
  padding: 69px 0 72px;
  background-color: #f0f0f1;

  .container {
    @include flex(flex-start, center, row, wrap);

    & > .text {
      margin-right: 98px;
    }
  }

  .text {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
  }

  .form-container {
    @include flex(flex-start, flex-start, row, wrap);

    .form-choose {
      @include flex(flex-start, flex-start, row, nowrap);
      .u-full-width {
        margin-right: 30px;
        display: flex;
        width: 270px;
      }
    }

    .form-select {
      font-family: "Raleway";
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      color: #000000;
      width: 270px;
      // @include flex(space-between, flex-start, row, wrap);
      margin-right: 30px;
    }

    .form-select select {
      -moz-appearance: none;
      -webkit-appearance: none;
      background-image: url(../img/arw-dwn.svg);
      background-repeat: no-repeat;
      background-position-x: 93%;
      background-position-y: 50%;
      border-radius: 24.5px;
      padding-left: 29px;
    }
  }

  input.text {
    padding-left: 29px;
  }

  input[type="email"]::placeholder {
    color: #000000;
    opacity: 1;
  }
}

.input-button {
  position: relative;
  background-color: #00a6ed;
  border: solid 2px #00a6ed !important;
  @include flex(center, center, row, nowrap);
  margin: 0;
  min-height: 50px;
  min-width: 50px;
  border: none;
  padding: 0;

  .submit {
    fill: #ffffff;
    width: 16px;
    height: 12px;
  }

  &:hover {
    background-color: #ffffff;
    .submit {
      fill: #00a6ed;
    }
  }
}

@media (max-width: 1200px) {
  .choose {
    .container > .text {
      margin-right: 30px;
    }
  }
}

@media (max-width: 991px) {
  .choose {
    padding-top: 55px;
    padding-bottom: 60px;

    .form-select {
      margin-right: 20px;
    }
  }

  .form-container {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .choose {
    padding-top: 18px;
    padding-bottom: 31px;

    .container {
      display: block !important;
    }

    .container > .text {
      font-family: "DidactGothic";
      font-size: 30px;
      line-height: 1.17;
      margin-right: 25px;
    }

    .form-container {
      flex-direction: column;
      margin-top: 24px;
      display: block !important;

      .form-choose .u-full-width {
        width: 256px;
        height: 44px;
        margin-right: 19px;
        padding-left: 22px;
      }

      .form-select {
        @include flex(flex-start, flex-start, row, nowrap);
        width: auto;
        margin-right: 0;
        margin-bottom: 16px;

        .u-full-width {
          width: 320px;
          height: 44px;
        }
      }
    }

    .input-button {
      min-width: 44px;
      min-height: 44px;
    }

    .form-select select {
      background-position-x: 95% !important;
      padding-left: 20px !important;
    }
  }
}

@media (min-width: 768px) {
  .container .text br {
    display: none;
  }
}
