.choose {
  padding: 69px 0 72px;
  background-color: #f0f0f1;

  .container {
    @include flex(flex-start, center, row, nowrap);
  }

  .form-select {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
    width: 270px;
  }

  .text {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
  }
}

.input-button {
  position: relative;
  background-color: #42a5f5;
  @include flex(center, center, row, nowrap);
  margin: 0;
  height: 50px;
  width: 50px;
  border: none;
  padding: 0;
  margin-left: 22px;
}

.form-select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../img/arw-dwn.svg);
  background-repeat: no-repeat;
  background-position-x: 93%;
  background-position-y: 50%;
  border-radius: 24.5px;
  padding-left: 29px;
}

input.text {
  padding-left: 29px;
}

input[type="email"]::placeholder {
  color: #000000;
}

.icon-check {
  font-size: 16px;
  color: #ffffff;
}
