.dashboard {
  .background {
    height: 410px;
  }
  .form {
    .short-brief {
      .header-title {
        font-family: "DidactGothic";
        font-size: 55px;
        font-weight: normal;
        line-height: 0.95;
        color: #ffffff;
        margin-bottom: 41px !important;
      }

      .subtitle {
        font-family: "Raleway";
        font-size: 16px;
        font-weight: 500;
        line-height: 1.63;
        color: #ffffff;
        margin-bottom: 40px !important;

        br {
          display: inline;
        }
      }

      .person-block {
        .person {
          .settings {
            @include flex(space-between, center, row, wrap);

            &:hover {
              text-decoration: underline;
              color: #ffffff;
            }

            .position {
              margin-right: 15px;
            }
          }

          .name-block {
            margin-top: 9px;
            line-height: 1.5;
          }
        }

        .arw-btn {
          fill: #fff;
          width: 7px;
          height: 8px;
        }
      }
    }
  }

  .board-wrapper {
    @include flex(space-between, flex-start, row, wrap);

    .board {
      width: 48.4%;
      @include flex(space-between, flex-start, column, wrap);
      background-color: #ffffff;
      margin-bottom: 170px;

      & > :first-child {
        height: 85px;
        padding: 0;
        @include flex(space-between, flex-start, column, wrap);

        .title {
          padding: 0 !important;
        }
      }

      .board-panel {
        width: 100%;
        @include flex(flex-start, center, row, wrap);
        padding: 17px 28px 13px;

        .title {
          margin: 0;
          padding-top: 14px;
          padding-bottom: 11px;
          font-family: "DidactGothic";
          font-size: 30px;
          font-weight: normal;
          line-height: 1;
          color: #000000;
        }

        .project-title {
          font-family: "Raleway";
          font-size: 16px;
          font-weight: 500;
          line-height: 1.31;
          margin-bottom: 14px;

          &:hover {
            text-decoration: underline;
            color: #000;
          }
        }

        .project-data {
          font-family: "Raleway";
          font-size: 12px;
          font-weight: 500;
          line-height: 1.75;
          color: #000000;
        }

        &:not(:first-child) {
          border-top: 2px solid #f0f0f1;
        }

        .arw-btn {
          fill: #fff;
          width: 8px;
          height: 11px;
        }
      }

      .project {
        &-on-the-fly {
          color: #00a6ed;
        }

        &-complete {
          color: #00e89c;
        }

        &-on-moderation {
          .project-data {
            color: #ff6c6c;
          }
        }
        &-not-assembled {
          color: #969b9f;

          .project-data {
            color: #969b9f;
          }

          .project-title:hover {
            text-decoration: unset;
            color: inherit;
          }
        }

        &-initialization,
        &-choose {
          height: 62px;
          padding: 0 29px !important;
          @include flex(flex-start, center, row, wrap);

          .project-title {
            color: #ffffff;
            margin: 0;
            margin-right: 28px;

            &:hover {
              color: #ffffff;
            }
          }
        }

        &-data {
          width: 100%;
          @include flex(space-between, center, row, wrap);
        }
      }

      .project-choose {
        background-color: #00e89c;
      }

      .project-initialization {
        background-color: #00a6ed;
      }

      .without-project {
        font-family: "Raleway";
        font-size: 14px;
        font-weight: 500;
        line-height: 1.64;
        color: #000000;
        margin-bottom: 11px;
      }
    }
  }
}

@media (max-width: 899px) {
  .dashboard {
    .form {
      .short-brief {
        flex-direction: row;
        margin-bottom: 33px;

        .text-block-wrapper {
          width: 65.5%;

          .header-title {
            margin-bottom: 42px !important;
          }
        }

        .person-block {
          .avatar {
            margin-right: 26px !important;
          }

          .person {
            .name-block {
              flex-direction: column;
            }
          }
        }
      }
    }

    .board-wrapper {
      flex-direction: column;

      .board {
        width: 100%;
        margin-bottom: 35px;

        > :first-child {
          height: 66px;
          padding: 0 28px !important;
          @include flex(center, flex-start, column, wrap);
        }

        .board-panel {
          padding-right: 16px;

          .project-data {
            font-size: 13px;
            line-height: 1.62;
          }
        }
      }
    }
  }
}

@media (max-width: 699px) {
  .dashboard {
    .form {
      .short-brief {
        flex-direction: column;
        margin-bottom: 31px;

        .text-block-wrapper {
          width: 100%;

          .header-title {
            margin-top: 39px;
          }

          .subtitle {
            width: 248px;
            margin-bottom: 43px !important;

            br {
              display: none;
            }
          }
        }

        .person-block {
          .avatar {
            margin-right: 16px !important;
          }

          .person {
            .name-block {
              flex-direction: row;
              margin-bottom: 2px;
            }

            .settings {
              .position {
                margin-right: 6px;
              }
            }
          }
        }
      }
    }

    .board-wrapper {
      .board {
        margin-bottom: 41px;

        .board-panel {
          padding: 10px 18px 12px 28px;

          .title {
            padding-top: 6px;
            padding-bottom: 5px;
          }

          .project-title {
            font-size: 13px;
            line-height: 1.62;
          }
        }

        .project-initialization,
        .project-choose {
          padding-bottom: 17px;

          .project-title {
            font-size: 16px;
            line-height: 1.31;
          }
        }

        .without-project {
          font-size: 13px;
          // padding-top: 14px !important;
          margin-bottom: 0;
          line-height: 1.9;
        }
      }
    }
  }
}
