.finance {
  @include backgr(url(../img/gradient2.jpg));
  @extend %backgr;
  padding-top: 72px;
  padding-bottom: 89px;

  .title-container {
    height: 95px;
    @include flex(space-between, flex-start, row, wrap);
    margin-bottom: 48px;
  }

  .block-title {
    line-height: 1.45;
    color: #ffffff;
  }

  .button--finance {
    padding: 0 18px 0 28px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    width: 299px;
    height: 50px;
  }
}

.social-container {
  margin-left: 100px;
  @include flex(flex-start, center, row, nowrap);

  .text {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    padding-right: 35px;
    padding-left: 163px;
  }
}

.social-button {
  position: relative;
  @include flex(center, center, row, nowrap);
  margin: 0;
  height: 50px;
  width: 50px;
  border: none;
  background-color: #ffffff;
  padding: 0;
  margin-right: 10px;
}

.icon-credit-card {
  font-size: 20px;
  color: #00a6ed;
}

.icon-facebook,
.icon-twitter,
.icon-instagram {
  @include flex(center, center, row, nowrap);
  font-size: 20px;
  color: #00a6ed;
}
