.finance {
  background-image: linear-gradient(105deg, #00a6ed -1%, #00eb98 100%);
  padding-top: 72px;
  padding-bottom: 89px;

  .button-block {
    @include flex(space-between, flex-start, row, wrap);
    max-width: 818px;
  }

  .title-container {
    height: 95px;
    @include flex(space-between, flex-start, row, wrap);
    margin-bottom: 48px;
  }

  .block-title {
    line-height: 1.45;
    color: #ffffff;
    max-width: 500px;
  }

  .button--finance {
    padding: 0 18px 0 28px;
    width: 299px;
    height: 50px;
  }
}

.social-container {
  @include flex(flex-start, center, row, nowrap);

  .text {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    padding-right: 25px;
  }
}

.social-button {
  position: relative;
  @include flex(center, center, row, nowrap);
  margin: 0;
  height: 50px;
  width: 50px;
  border: none;
  background-color: #ffffff;
  padding: 0;
  margin-left: 10px;
}

.icon-credit-card {
  font-size: 20px;
  color: #00a6ed;
}

.icon-facebook,
.icon-twitter,
.icon-instagram {
  @include flex(center, center, row, nowrap);
  font-size: 20px;
  color: #00a6ed;
}

@media (max-width: 991px) {
  .finance {
    background-image: linear-gradient(114deg, #00a6ed -2%, #00eb98 100%);
    padding-top: 46px;
    padding-bottom: 71px;

    .title-container {
      margin-bottom: 45.5px;
    }
    .block-title {
      line-height: 1.33;
      max-width: 470px;
    }
  }

  .social-container {
    .text {
      padding-right: 15px;
    }
  }
}

@media (max-width: 767px) {
  .finance {
    background-image: linear-gradient(136deg, #00a6ed -6%, #00eb98 100%);
    padding-top: 16px;
    padding-bottom: 26px;

    .title-container {
      margin-bottom: 36px;
      height: auto;
    }

    .button--finance {
      width: 230px;
      height: 44px;
      padding: 0 15px 0 21px;
      margin-bottom: 74px;
    }

    .social-button {
      margin-left: 6px;
      width: 44px;
      height: 44px;
    }

    .social-container .text {
      padding-right: 17px;
    }
  }
}
