.footer {
  padding: 48px 0 52px;
  @include flex(space-between, flex-start, row, nowrap);
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 85%;

  .block {
    @include flex(space-between, flex-start, row, wrap);
    width: 895px;
  }

  .logo {
    @include flex(flex-start, flex-start, row, nowrap);

    img {
      max-width: none;
    }
  }

  .copyright {
    font-family: "Raleway";
    font-size: 16px;
    line-height: 1.5;
    color: #00a6ed;
    padding-left: 5px;
    width: 56px;
  }

  .menu {
    @include flex(space-between, center, row, nowrap);
    font-family: Raleway;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #00a6ed;
    width: 473px;

    div:hover {
      color: #000000 !important;
      text-decoration: underline;
    }
  }

  .mail-us {
    padding-top: 23px;
    font-family: "Raleway";
    font-size: 13px;
    font-weight: 500;
    line-height: 1.62;
    color: #000000;

    &--blue {
      color: #00a6ed;

      &:hover {
        color: #000000 !important;
        text-decoration: underline;
      }
    }
  }

  &__facebook {
    font-family: Raleway;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #000000;
    @include flex(flex-end, flex-start, row, nowrap);

    &--blue {
      color: #00a6ed;
      padding-left: 5px;

      &:hover {
        color: #000000 !important;
        text-decoration: underline;
      }
    }
  }
}

.grid {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: 1fr;
  grid-gap: 0px;
  grid-template-areas: "grid-item1 grid-item2 grid-item3";

  &-item1 {
    grid-area: grid-item1;
    width: 21.2vw;
    // height: 50px;
  }

  &-item2 {
    grid-area: grid-item2;
    width: 53.8vw;
    // max-width: 43vw;
  }

  &-item3 {
    grid-area: grid-item3;
    width: auto;
    min-width: 123px;
    // height: 50px;
  }
}

@media (max-width: 991px) {
  .footer {
    padding-top: 54px;
    padding-bottom: 0;

    .logo {
      margin-right: 66px;
    }

    .footer__navbar {
      min-width: 477px;
      margin-bottom: 54px;
    }
  }

  .footer__facebook {
    margin-bottom: 0px;
    justify-content: flex-start;
  }

  .grid {
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "grid-item1 grid-item2"
      "grid-item1 grid-item3";

    &-item1 {
      width: auto;
    }

    &-item3 {
      height: 50px;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    padding-top: 21px;
    flex-wrap: wrap;

    .logo {
      margin-bottom: 35px;

      img {
        width: 95px;
      }
    }

    .mail-us {
      padding-top: 57px;
    }

    .copyright {
      font-size: 13px;
    }
    .footer__navbar {
      @include flex(space-between, flex-start, column, wrap);
      min-width: auto;
      margin-right: 0;
    }

    .block {
      width: auto;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .menu {
      flex-wrap: wrap;
      flex-direction: row;
      font-size: 13px;
      align-items: flex-start;
      max-width: 170px;

      .central {
        margin-right: 26px;
        padding-bottom: 8px;
      }
    }

    .footer__facebook {
      display: block;
      font-size: 13px;
    }
  }

  .grid {
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;

    grid-template-areas:
      "grid-item1 grid-item3"
      "grid-item2 grid-item3";

    &-item2 {
      width: 50vw;
    }

    &-item3 {
      // height: 50px;
      width: 39vw;
    }
  }
}

@media (max-width: 450px) {
  .footer {
    .footer__navbar {
      margin-bottom: 0;
    }

    .footer__facebook--blue {
      padding-left: 0;
    }
  }
  .grid {
    &-item2 {
      width: 59vw;
    }

    &-item3 {
      width: 27vw;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    .mail-us br {
      display: none;
    }
  }
}

@media (min-width: 1440px) {
  .grid {
    &-item2 {
      max-width: 43vw;
    }
  }
}
