/* The Modal (background) */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 70px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  height: calc(100vh - 70px);

  &-button {
    height: 36px;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 14px;
    line-height: 0.71;
    letter-spacing: 0.21px;
    color: #ffffff;
  }

  &-wrapper {
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 0;
    max-width: 720px;
    width: 51%;
    min-width: 550px;
    height: fit-content;
    @include flex(center, center, row, wrap);

    .popup-animation {
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s;
    }
  }

  &-content {
    position: relative;
    background-color: #f0f0f1;
    width: 100%;
    color: #000000;
    padding: 2.9vh 5.5% 5.2vh 5.5%;

    &--recovery {
      padding-bottom: 0;

      .recovery-text {
        padding-top: 47px;
        padding-bottom: 32px;
        font-family: "Raleway";
        font-size: 16px;
        font-weight: 500;
        line-height: 1.69;
        letter-spacing: normal;
        color: #28283d;
        width: 383px;
      }
    }

    .title {
      font-family: "DidactGothic";
      font-size: calc(27px + (3 + 11 * 0.6) * ((100vw - 992px) / 1440));
      font-weight: normal;
      line-height: 1.37;
      color: #000000;
    }

    .popup-form {
      @include flex(space-between, flex-start, row, wrap);
      padding-top: 3.5vh;

      &--authorization,
      &--recovery {
        padding-top: 4.6vh;
      }

      .form-wrapper {
        @include flex(flex-start, flex-start, column, wrap);
        width: 47.5%;

        &--recover {
          width: 100%;
        }

        &--longer {
          width: 80%;

          input[type="email"] {
            width: 76.7% !important;
          }
        }

        .u-full-width--authorization {
          width: 100% !important;
        }

        .u-full-width {
          border-radius: 0;
          height: 5.75vh;
          max-height: 52px;
          min-height: 40px;
          width: 100%;
          padding-left: 18px;
          font-family: "Raleway";
          font-size: 16px !important;
          font-weight: 500;
          line-height: 1.5;
          color: #000000 !important;

          &[type="password"] {
            font-size: 42px !important;
          }

          &.u-full-width--recovery[type="email"] {
            width: 418px;
          }
        }

        label {
          font-family: "Raleway";
          font-size: 14px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.71;
          letter-spacing: normal;
          color: #28283d;
          margin-top: 2.1vh;
          margin-bottom: 0.6vh;
        }

        input[type="email"]:focus,
        input[type="text"]:focus,
        input[type="password"]:focus,
        textarea:focus,
        select:focus {
          border: solid 2px #ff6c6c;
          outline: 0;
        }
      }

      button {
        padding: 0 6.8% 0 12.7%;
        border-radius: 25px;

        .text {
          font-family: "Raleway";
          font-size: calc(12px + (2 + 19 * 0.6) * ((100vw - 992px) / 1440));
          font-size: 16px;
          font-weight: 400;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: 0.24px;
          color: #ffffff;
        }
      }

      .input-button {
        justify-content: space-between !important;
        .icon-chevron-right {
          filter: invert(1);
        }
        &--authorization {
          justify-content: space-between !important;
          width: 35.4% !important;
          padding: 0 2.9% 0 4.7%;
        }

        .arw-btn {
          fill: rgb(255, 255, 255);
          width: 7px;
          height: 10px;
        }
        .submit {
          width: 12px;
          height: 9px;
          fill: rgb(255, 255, 255);
        }
      }

      .submit-wrapper {
        @include flex(flex-start, center, row, wrap);
        margin-top: 4.4vh;
        margin-bottom: 4.3vh;

        a {
          width: 38.5%;
        }

        &--recovery {
          margin-top: 29px;
          width: 35.3%;
        }

        .input-button {
          border: solid 2px #00a6ed;
          height: 5.5vh;
          max-height: 50px;
          width: 100%;
          min-height: unset;

          &:hover {
            background-color: #f0f0f1;

            .text {
              color: #00a6ed;
              background-color: #f0f0f1;
            }

            .arw-btn,
            .submit {
              fill: #00a6ed;
            }
          }
        }

        &--authorization {
          margin-top: 3.3vh;
          margin-bottom: 4.6vh;
          width: 100%;
          @include flex(space-between, center, row, wrap);

          .consent {
            font-size: 14px !important;
            padding-left: 44px !important;
          }
        }

        .consent,
        .password-recovery {
          width: 53%;
          font-family: "Raleway";
          font-size: 12px;
          font-weight: 500;
          line-height: 1.67;
          color: #28283d;
          padding-left: 6.4%;

          span {
            color: #00a6ed;
          }
        }

        .password-recovery,
        .agreement {
          &:hover {
            text-decoration: underline;
            text-decoration-color: #00a6ed;
          }
        }

        .password-recovery {
          font-size: 14px;
          width: auto;
          padding-left: 0;
        }
      }
    }

    hr {
      width: 100%;
      height: 2px;
      margin: 0 auto;
      background-color: #dadada;
    }

    .facebook,
    .google {
      width: 294px;
      height: 5.5vh;
      max-height: 50px;
      min-height: 40px;
      width: 46%;
      padding: 0;
      @include flex(center, center, row, wrap);

      &--authorization {
        width: 245px;
      }

      .button-text {
        font-family: "Raleway";
        font-size: calc(12px + (2 + 19 * 0.6) * ((100vw - 992px) / 1440));
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.24px;
        color: #ffffff;
      }
    }

    .facebook {
      margin-top: 4.23vh;
      background-color: #3a5793;
      border: solid 2px #3a5793;

      &:hover {
        background-color: #f0f0f1;
        background-image: none;

        .button-text {
          color: #3a5793;
          font-weight: 500;
        }
      }
    }

    .google {
      background-color: #ea4235;
      margin-top: 2.6vh;
      border: solid 2px #ea4235;

      &:hover {
        background-color: #f0f0f1;

        .button-text {
          color: #ea4235;
          font-weight: 500;
        }
      }
    }
  }
}

.password-wrong {
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
  color: #ff6c6c;

  img {
    display: inline;
    padding-right: 9.3px;
  }
}

.closed {
  color: #000;
  position: absolute;
  top: 39px;
  right: 39px;
  font-size: 42px;
  font-weight: bold;
}

.closed:hover,
.closed:focus {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .popup-wrapper {
    width: 650px;
  }

  .popup-content {
    .popup-form {
      .submit-wrapper {
        margin-top: 3.4vh;
        margin-bottom: 3.3vh;
      }
    }
  }
}
