.navbar {
  @include flex(space-between, center, row, nowrap);

  &-menu {
    @include flex(space-between, center, row, nowrap);
  }

  .logo {
    @include flex(flex-start, flex-start, row, nowrap);
  }

  .upper-logo {
    padding-left: 5px;
  }

  &-item {
    margin-top: 28px;
    margin-bottom: 18px;
  }

  &-text {
    font-family: "TTRounds";
    font-size: 14px;
    font-weight: bold;
    line-height: 0.71;
    letter-spacing: 1.19px;
    color: #000000;
    text-transform: uppercase;
  }

  &-button {
    font-family: "TTRounds";
    height: 34px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 0.71;
    letter-spacing: 0.21px;
    color: #ffffff;
  }

  &-enter {
    font-family: "TTRounds";
    margin-top: 10px;
  }
}

.enter-text {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: 0.21px;
  color: #00a6ed;
}

.background-header {
  @include backgr(url(../img/gradient1.jpg));
  @extend %backgr;

  .container {
    padding-top: 36px;
    @include flex(space-between, flex-end, row, nowrap);
  }

  .text-block {
    margin-left: -3px;
  }

  .title {
    font-family: "TTRounds";
    font-size: 51.5px;
    font-weight: normal;
    line-height: 1.22;
    letter-spacing: 0.77px;
    color: #f7f8f8;
  }

  .subtitle {
    margin: 31px 0 44px 3px;
    font-family: "TTRounds";
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;
    letter-spacing: 0.24px;
    color: #f7f8f8;
  }

  .img {
    min-width: 576px;
    margin-right: -60px;
  }

  .button-container {
    @include flex(flex-start, center, row, nowrap);
    padding-bottom: 63px;
    margin: 0;
    margin-left: 3px;
    .between-buttons {
      margin: 0;
      padding: 0 38px 0 23px;
      font-family: "TTRounds";
      font-size: 13px;
      font-weight: normal;
      line-height: 1.85;
      letter-spacing: 0.2px;
      color: #ffffff;
    }
  }
}

.button {
  margin: 0;
  height: 50px;
  border: none;
  background-color: #ffffff;
  @include flex(space-between, center, row, nowrap);
  padding: 0 18px 0 25px;
  box-shadow: 0px 4px 28px 7px rgba(3, 3, 3, 0.25);

  &-text {
    font-family: "TTRounds";
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.24px;
    color: #00a6ed;
  }
}

.button-container .icon-chevron-right {
  color: #00a6ed;
}
