.navbar {
  @include flex(space-between, center, row, nowrap);
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 85%;
  padding: 0;

  &-menu {
    margin-top: 23px;
    margin-bottom: 11px;
    @include flex(flex-end, center, row, nowrap);
  }

  .logo {
    @include flex(flex-start, flex-start, row, nowrap);
  }

  .upper-logo {
    padding-left: 5px;
  }

  &-item {
    margin-left: 44px;
  }

  &-text {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 500;
    line-height: 0.71;
    color: #000000;
  }

  &-button {
    margin-left: 43px;
  }

  &-button-text {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 14px;
    line-height: 0.71;
    letter-spacing: 0.21px;
    color: #ffffff;
  }

  &-enter {
    font-family: "Raleway";
    margin-top: -1px;
    margin-left: 38px;
  }
}

.enter-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.21px;
  color: #00a6ed;
}

.background-header {
  @include backgr(url(../img/gradient1.jpg));
  @extend %backgr;

  .container {
    padding-top: 30px;
    @include flex(space-between, flex-end, row, nowrap);
  }

  .text-block {
    margin-left: -3px;
  }

  .title {
    font-family: "DidactGothic";
    font-size: 55px;
    font-weight: normal;
    line-height: 1.15;
    letter-spacing: normal;
    color: #f7f8f8;
  }

  .subtitle {
    margin: 30px 0 44px 0px;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;
    letter-spacing: 0.24px;
    color: #f7f8f8;
  }

  .img {
    min-width: 576px;
    margin-right: -165px;
  }

  .button-container {
    @include flex(flex-start, center, row, nowrap);
    padding-bottom: 64px;
    margin: 0;
    margin-left: 3px;

    :first-child {
      margin-right: 30px;
    }

    :last-child {
      margin-right: -6px;
    }
  }
}

.button {
  margin: 0;
  height: 49px;
  width: 230px;
  border: none;
  background-color: #ffffff;
  @include flex(space-between, center, row, nowrap);
  padding: 0 23px 0 29px;

  &-text {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.24px;
    color: #000000;
  }
}

.button-container .icon-chevron-right {
  color: #000000;
  font-size: 12px;
}
