.navbar {
  @include flex(space-between, flex-start, row, nowrap);
  padding: 23px 0 11px;

  img {
    max-width: none;
  }

  &-menu {
    @include flex(flex-end, center, row, nowrap);
  }

  .logo {
    @include flex(flex-start, flex-start, row, nowrap);
  }

  .upper-logo {
    padding-left: 5px;
  }

  &-item {
    margin-left: 44px;
  }

  &-text {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 500;
    line-height: 0.71;
    color: #000000;
  }

  &-button {
    margin-left: 43px;
    width: 130px;
  }

  &-button-text {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 14px;
    line-height: 0.71;
    letter-spacing: 0.21px;
    color: #ffffff;
  }

  &-enter {
    font-family: "Raleway";
    margin-top: -1px;
    margin-left: 38px;
  }
}

.enter-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.21px;
  color: #00a6ed;
}

.background-header {
  background-image: linear-gradient(151deg, #00a6ed -9%, #00eb98 100%);

  .container {
    padding-top: 29px;
    @include flex(space-between, flex-end, row, nowrap);

    .header-img {
      overflow: hidden;
    }
  }

  .text-block {
    margin-left: -3px;
    @include flex(space-between, flex-start, column, nowrap);
  }

  .title {
    width: 464px;
    font-family: "DidactGothic";
    font-size: 55px;
    font-weight: normal;
    line-height: 1.15;
    letter-spacing: normal;
    color: #f7f8f8;
  }

  .subtitle {
    margin: 33px 0 44px 0px;
    width: 345px;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.24px;
    color: #f7f8f8;
  }

  .img {
    min-width: 585px;
    margin-right: -27px;
    overflow: hidden;
  }

  .button-container {
    @include flex(flex-start, center, row, nowrap);
    padding-bottom: 64px;
    margin: 0;
    margin-left: 3px;

    button:first-of-type {
      margin-right: 30px;
    }

    button:last-of-type {
      margin-right: 44px;
    }
  }
}

.button {
  margin: 0;
  height: 49px;
  width: 230px;
  border: none;
  background-color: #ffffff;
  @include flex(space-between, center, row, nowrap);
  padding: 0 19px 0 29px;

  &-text {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.24px;
    color: #000000;
    letter-spacing: -0.1px;
  }
}

.button-container .icon-chevron-right {
  color: #000000;
  font-size: 12px;
  margin: 0;
}

@media (max-width: 991px) {
  .background-header {
    background-image: linear-gradient(126deg, #00a6ed -4%, #00eb98 100%);
  }

  .header-img {
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding-top: 16px;
    padding-bottom: 21px;
    &-menu {
      display: none;
    }

    .img-logo {
      width: 112px;
    }
  }

  .background-header {
    background-image: linear-gradient(151deg, #00a6ed -9%, #00eb98 100%);

    .container {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 51px;
      .img {
        min-width: auto;
        padding-right: 68px;
      }
    }

    .title {
      font-size: calc(40px + (50 + 11 * 0.7) * ((100vw - 375px) / 1440));
      width: auto;
      line-height: 1;
      letter-spacing: -0.5px;
    }

    .subtitle {
      font-size: calc(13px + (16 + 11 * 0.7) * ((100vw - 375px) / 1440));
      width: auto;
      max-width: 375px;
      margin: 23px 0 29px 0;
      letter-spacing: 0px;
    }

    .button-container {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 41px;
      max-width: 400px;

      button:first-of-type {
        width: 163px;
        margin-bottom: 15px;
      }

      button:last-of-type {
        width: 208px;
      }

      .button {
        padding-left: 22px;
        height: 44px;

        .button-text {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .background-header .title {
    max-width: 280px;
  }

  .background-header .subtitle {
    max-width: 290px;
  }
}
