.kickstarter {
  padding: 89px 0 43px;

  .title-container {
    height: 95px;
    @include flex(space-between, flex-start, row, wrap);
  }
  .block-title {
    line-height: 0.8;

    &--blue {
      color: #00a6ed;
    }
  }

  .container-figures {
    margin-top: 52px;

    &--last {
      margin-left: 100px !important;
      margin-right: -100px !important;
    }
  }

  .figures {
    font-family: "TTRounds";
    font-size: 100px;
    font-weight: 100;
    line-height: 0.94;
    letter-spacing: 1.5px;
    color: #00a6ed;

    &-text {
      font-family: "TTRounds";
      font-size: 24px;
      font-weight: normal;
      line-height: 2.15;
      letter-spacing: 0.36px;
      color: #00a6ed;
    }
  }
}
