.project {
  padding-bottom: 0;

  // background mark-up for fail project

  // .background-fail {
  //   display: none;
  //   position: absolute;
  //   background-image: linear-gradient(118deg, #5e5e5e -3%, #e2e2e2 100%);
  //   height: 716px;
  //   width: 100%;
  // }

  .header-title {
    font-family: "DidactGothic";
    font-size: 55px;
    font-weight: normal;
    line-height: 1.11;
    color: #ffffff;
    height: unset !important;
    margin-bottom: 37px !important;
  }

  .subtitle {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.05;
    color: #ffffff;
    height: unset !important;
    margin-bottom: 70px !important;

    br {
      display: none;
    }
  }

  .form {
    padding-top: 140px;

    .short-brief {
      .person-block {
        .person {
          .position {
            line-height: 2.5;
          }

          .name-block {
            line-height: 1.2;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .title-wrapper {
    @include flex(space-between, flex-start, row, nowrap);

    .title {
      font-family: "DidactGothic";
      font-size: 35px;
      font-weight: normal;
      line-height: 0.86;
      color: #000000;
      margin-top: 42px;
      margin-bottom: 38px;

      br {
        display: none;
      }
    }
  }

  .top-project {
    .img {
      width: 64.3%;
    }

    .card {
      .info {
        padding-left: 28px;
        .info-card {
          .card-text,
          .card-text-timer {
            font-family: "Raleway";
            font-size: 14px;
            font-weight: 500;
            line-height: 1.1;
            color: #000000;
            margin-bottom: 8px;
          }

          .card-text-timer {
            margin-bottom: 17px;
          }

          .quantity {
            font-family: "DidactGothic";
            font-size: 35px;
            font-weight: normal;
            line-height: 1;
            color: #000000;
          }

          .progress {
            margin-top: 19px;
            margin-bottom: 21px;

            .progress-status {
              width: 57%;
              height: 6px;
            }
          }

          .details-tag {
            margin: 0;
          }

          .details-orient {
            justify-content: flex-start;
          }

          .details-location {
            margin-right: 38px;
          }

          .button-block {
            margin-bottom: 30px;
            padding: 0;

            .preview {
              width: 68%;
            }
          }

          .social-button-container {
            width: 171px;
            flex-wrap: nowrap;

            .social-button {
              background-color: #f0f0f1;
              margin-left: 0;

              &:hover {
                border: solid 2px #000000 !important;
              }
            }

            .facebook:hover,
            .instagram:hover,
            .twitter:hover {
              background-image: unset;
              background-color: #ffffff;

              .fb,
              .insta,
              .twitter {
                fill: #000;
              }
            }
          }
        }

        .info-card-moderation {
          .input-button-moderation {
            width: 60%;
            height: 50px;
            background-color: #ff6c6c;
            border-radius: unset;
            border: none;
            margin-bottom: 24px;

            .text {
              font-family: "Raleway";
              font-size: 16px;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
            }
          }

          .text-moderation {
            font-family: "Raleway";
            font-size: 14px;
            font-weight: 500;
            line-height: 1.5;
            color: #969b9f;
          }
        }

        .info-card-success {
          .input-button-success {
            width: 183px;
            height: 50px;
            background-color: #00e89c;
            border-radius: unset;
            border: none;

            .text {
              font-family: "Raleway";
              font-size: 16px;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
            }
          }
        }

        .info-card-fail {
          .input-button-fail {
            width: 197px;
            height: 50px;
            background-color: #000000;
            border-radius: unset;
            border: none;

            .text {
              font-family: "Raleway";
              font-size: 16px;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
            }
          }
        }

        .details-orient-mobile {
          display: none;
        }
      }
    }
  }

  .vacancy {
    margin-bottom: 86px;

    .vacancy-created {
      cursor: pointer;

      &:hover .input-button {
        display: block;
      }

      &:hover .person {
        @include backgr(url(../img/vacancy-cover-hover.png));
      }

      .input-button {
        display: none;
        height: 50px;
        width: 168px;
        font-family: "Raleway";
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        background-color: #ffffff;
        border: none !important;

        &:hover {
          background-color: inherit;
          border: solid 2px #ffffff !important;
          color: #ffffff;
        }
      }
    }
  }

  .finance {
    .title-container {
      margin-bottom: 16px;
    }

    .button-block {
      max-width: unset;

      .button--finance {
        margin-right: 13.6%;
      }
    }
  }
}

.project-footer {
  padding-top: 50px;
}

@media (max-width: 899px) {
  .project {
    .background {
      height: 530px;
      background-image: linear-gradient(128deg, #00a6ed -4%, #00eb98);
    }

    .form {
      .short-brief {
        margin-bottom: 25px;
        flex-direction: column;

        .text-block-wrapper {
          width: 100%;
          margin-right: 0;

          .header-title {
            margin-bottom: 25px !important;
          }

          .subtitle {
            margin-bottom: 37px !important;
          }
        }

        .person-block {
          height: 78px;

          .avatar {
            height: 78px;
            width: 78px;
            margin-right: 13px;
          }

          .person {
            height: 78px;
            justify-content: center;

            .name-block {
              @include flex(space-between, flex-start, row, nowrap);

              .first-name {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }

    .top-project {
      display: block;

      .card {
        height: 320px;

        .info {
          width: 47.5%;
          padding: 25px 27px 13px 24px;

          .info-card {
            .progress {
              margin-bottom: 17px;
            }

            .card-text-timer {
              margin-bottom: 15px;
            }

            .button-block {
              margin-bottom: 15px;

              .preview {
                margin-right: 0;
                width: 88%;
              }
            }

            .social-button-container {
              width: 150px;
            }
          }
        }
      }

      .img {
        width: 52.5%;
      }
    }

    .title-wrapper {
      flex-direction: column;

      > :first-child {
        font-size: 30px;
        font-weight: normal;
        line-height: 1.3;
        margin-top: 19px;
        margin-bottom: 0;

        br {
          display: block;
        }
      }

      > :last-child {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.69;
        letter-spacing: 0.5px;
        margin-top: 18px;
        margin-bottom: 23px;
      }
    }

    .vacancy {
      margin-bottom: 0px;

      .vacancy-card {
        width: 48%;
        margin-right: 3.73%;
        margin-bottom: 32px;
      }
    }

    .finance {
      .button-block {
        .button--finance {
          margin-right: 7.6%;
        }
      }
    }
  }
}

@media (max-width: 699px) {
  .project {
    .form {
      .short-brief {
        margin-bottom: 17px;

        .text-block-wrapper {
          .header-title {
            font-size: calc(40px + (15 + 5 * 0.6) * ((100vw - 375px) / 768));
            margin-right: 20px;
            margin-top: 21px;
            margin-bottom: 19px !important;
            line-height: 1;
          }

          .subtitle {
            margin-right: 20px;
            margin-bottom: 30px !important;
            font-family: Raleway;
            font-size: calc(13px + (3 + 5 * 0.6) * ((100vw - 375px) / 768));
            font-weight: normal;
            line-height: 1.62;
            width: 100%;

            br {
              display: inline;
            }
          }
        }

        .person-block {
          .person {
            .position {
              font-size: 13px;
            }

            .name-block {
              font-size: 13px;

              .first-name {
                margin-right: 3px;
              }
            }
          }
        }
      }
    }

    .form > :nth-child(2),
    .form > :nth-child(3) {
      width: 100% !important;
    }

    .top-project {
      margin-bottom: 0;

      .card {
        flex-direction: column;
        height: fit-content;

        .img {
          width: 100%;
          height: 204px;
        }

        .info {
          width: 100%;
          padding: 16px 17px 17px 20px;

          > :nth-child(2) {
            @include flex(space-between, flex-start, row, nowrap);
          }

          .info-card {
            .card-text {
              font-size: 12px;
              line-height: 1.75;
              margin-bottom: 5px;
            }

            .quantity {
              font-size: 40px;
              line-height: 0.98;
            }

            .progress {
              margin-top: 18px;
              margin-bottom: 13px;

              .progress-status {
                height: 4px;
              }
            }

            .card-text-timer {
              font-size: 12px;
              line-height: 1.75;
              margin-bottom: 39px;
            }

            .details-orient {
              display: none;
            }

            .button-block {
              width: 55%;
              margin-bottom: 19px;

              .input-button {
                width: 100%;
                width: 185px;
                max-width: 260px;
                min-height: unset;
                height: 44px;
                padding-left: 11%;
                padding-right: 11%;
              }
            }
          }

          .details-orient-mobile {
            display: block;
            @include flex(flex-start, center, row, nowrap);

            .details-location {
              @include flex(space-between, center, row, nowrap);
              margin-right: 33px;

              .geo {
                margin-right: 5px;
                padding-left: 3px;
              }
            }

            .details-city {
              font-family: "Raleway";
              font-size: 12px;
              font-weight: 500;
              line-height: 1.75;
              letter-spacing: 0.02px;
              color: #28283d;
            }

            .details-tag {
              @include flex(center, center, row, nowrap);
              margin-right: 49px;

              &-text {
                margin-left: 5px;
                font-family: "Raleway";
                font-size: 12px;
                font-weight: 500;
                line-height: 1.75;
                letter-spacing: 0.01px;
                color: #00a6ed;
              }
            }
          }
        }
      }
    }

    .title-wrapper {
      > :first-child {
        margin-top: 14px;
      }
    }

    .vacancy {
      .vacancy-card {
        margin-right: 0;
        width: 100%;
        margin-bottom: 20px;
        max-width: 350px;
      }
    }

    .finance {
      .button-block {
        padding-top: 20px;
      }
    }
  }
}
