.project-preview {
  .block-container {
    @include flex(space-between, stretch, row, nowrap);
  }

  .block {
    background-color: #ffffff;
    min-width: 279px;

    &:not(:first-child) {
      margin-left: 27px;
    }
  }

  .img {
    position: relative;

    img {
      min-width: 100%;
      object-fit: cover;
      height: fit-content;
    }
  }

  .location {
    position: absolute;
    bottom: 4%;
    left: 7.5%;
    font-family: "Raleway";
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.33;
    letter-spacing: 0.78px;
    text-align: left;
    color: #ffffff;
  }

  .content {
    height: 135px;
    padding: 14px 20px 13px 18.5px;
    @include flex(space-between, stretch, column, nowrap);

    &-title {
      font-family: "Raleway";
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      text-align: left;
      color: #00a6ed;

      &--ukr {
        width: 60%;
      }
    }

    &-progress {
      width: 100%;
      margin-bottom: 17px;
      background-color: #f0f0f1;
      height: 3px;

      &-status {
        height: 3px;
        background-color: #00a6ed;
        width: 10%;
      }
    }

    &-time {
      margin-right: 2px;
    }

    &-how-much-text {
      font-size: 12px;
      font-weight: 500;
    }

    &-how-much-figures {
      font-size: 12px;
      font-weight: 500;
    }
  }

  &__slider {
    padding: 65px 0 60px;

    .slider-link {
      @include flex(flex-start, center, row, nowrap);

      &-text {
        font-family: "Raleway";
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        color: #28283d;
      }
    }
  }

  .dots {
    @include flex(flex-end, center, row, nowrap);
    height: 15px;
    padding-right: 11.5px;
  }
}

.icon-circle {
  margin-left: 6px;
  font-size: 14px;
}

.slider-link .icon-chevron-right {
  margin-left: 12px;
  font-size: 12px;
}

.block:hover .content-title,
.block:hover .details-how-much-text,
.block:hover .details-how-much-figures {
  color: black;
}

@media (max-width: 991px) {
  .project-preview__slider {
    padding-top: 57.5px;
    padding-bottom: 57px;
  }

  .slider-link {
    margin-left: 26px;
    margin-right: -20px;
  }

  .slider-link .icon-chevron-right {
    margin-left: 15px;
  }
}

@media (max-width: 699px) {
  .project-preview {
    padding-bottom: 47px;
    .block-container {
      flex-direction: column;
    }

    .block {
      min-width: 309px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &:not(:first-child) {
        margin-left: 0;
      }

      &:last-child {
        display: none;
      }

      .img {
        img {
          // min-height: 174px;
          height: auto;
        }
      }

      .content {
        padding-top: 13px;
      }

      .content-time {
        margin-right: 45px;
      }

      .content-progress {
        margin-bottom: 16px;
      }

      .content-how-much-figures {
        line-height: 1.9;
      }

      .content-title {
        max-width: 190px;
      }
    }

    .one-half:first-child {
      display: none;
    }

    .one-half:last-child {
      width: 100%;
    }

    .button {
      max-width: 211px !important;
      height: 44px !important;
      margin-top: -3px;
      padding: 0 18px 0 21px;
    }

    .project-preview__slider {
      padding: 0;
      display: flex;
      margin-top: -3px;
    }

    .project-preview__slider .slider-link {
      margin: 0;
      @include flex(space-between, center, row, nowrap);

      .slider-link-text {
        font-size: 16px;
        letter-spacing: 0;
      }
    }
  }
}

@media (min-width: 700px) {
  .project-preview .button {
    display: none;
  }
}

@media (max-width: 400px) {
  .project-preview {
    .img img {
      min-height: 174px;
      height: fit-content !important;
    }
  }
}
