.project-preview {
  .block {
    position: relative;
    background-color: #ffffff;
    min-width: 279px;
  }

  .img {
    position: relative;

    img {
      min-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .location {
    position: absolute;
    bottom: 4%;
    left: 7.5%;
    font-family: "Raleway";
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.33;
    letter-spacing: 0.78px;
    text-align: left;
    color: #ffffff;
  }

  .content {
    height: 135px;
    padding: 17px 20px 13px 18.5px;
    @include flex(space-between, stretch, column, nowrap);

    &-title {
      font-family: "Raleway";
      font-size: 14px;
      font-weight: normal;
      line-height: 1.33;
      letter-spacing: 0.23px;
      text-align: left;
      color: #00a6ed;

      &--ukr {
        width: 60%;
      }
    }

    &-progress {
      width: 100%;
      margin-bottom: 16px;
      background-color: #f0f0f1;
      height: 3px;

      &-status {
        height: 3px;
        background-color: #00a6ed;
        width: 10%;
      }
    }

    &-time {
      margin-right: 0;
    }

    &-how-much-text {
      font-size: 12px;
      font-weight: 500;
    }

    &-how-much-figures {
      font-size: 12px;
      font-weight: 500;
    }
  }

  &__slider {
    padding: 65px 0 63px;

    .slider-link {
      @include flex(flex-start, center, row, nowrap);

      &-text {
        font-family: "Raleway";
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        color: #28283d;
      }
    }
  }

  .dots {
    @include flex(flex-end, center, row, nowrap);
    height: 15px;
    padding-right: 11.5px;
  }
}

.icon-circle {
  margin-left: 6px;
  font-size: 14px;
}

.slider-link .icon-chevron-right {
  margin-left: 12px;
  font-size: 12px;
}

.block:hover .content-title,
.block:hover .details-how-much-text,
.block:hover .details-how-much-figures {
  color: black;
}
