.project {
  padding-bottom: 0;

  // background mark-up for fail project

  // .background-fail {
  //   display: none;
  //   position: absolute;
  //   background-image: linear-gradient(118deg, #5e5e5e -3%, #e2e2e2 100%);
  //   height: 716px;
  //   width: 100%;
  // }

  .header-title {
    font-family: "DidactGothic";
    font-size: 55px;
    font-weight: normal;
    line-height: 1.11;
    color: #ffffff;
    height: unset !important;
    margin-bottom: 37px !important;
  }

  .subtitle {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.05;
    color: #ffffff;
    height: unset !important;
    margin-bottom: 70px !important;
  }

  .form {
    padding-top: 140px;

    .short-brief {
      .person-block {
        .person {
          .position {
            line-height: 2.5;
          }

          .name-block {
            line-height: 1.2;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .title-wrapper {
    @include flex(space-between, flex-start, row, nowrap);

    .title {
      font-family: "DidactGothic";
      font-size: 35px;
      font-weight: normal;
      line-height: 0.86;
      color: #000000;
      margin-top: 42px;
      margin-bottom: 38px;
    }
  }

  .top-project {
    .img {
      width: 64.3%;
    }

    .card {
      .info {
        padding-left: 28px;
        .info-card {
          .card-text,
          .card-text-timer {
            font-family: "Raleway";
            font-size: 14px;
            font-weight: 500;
            line-height: 1.1;
            color: #000000;
            margin-bottom: 8px;
          }

          .card-text-timer {
            margin-bottom: 17px;
          }

          .quantity {
            font-family: "DidactGothic";
            font-size: 35px;
            font-weight: normal;
            line-height: 1;
            color: #000000;
          }

          .progress {
            margin-top: 19px;
            margin-bottom: 21px;

            .progress-status {
              width: 57%;
              height: 6px;
            }
          }

          .details-tag {
            margin: 0;
          }

          .details-orient {
            justify-content: flex-start;
          }

          .details-location {
            margin-right: 38px;
          }

          .button-block {
            margin-bottom: 30px;
            padding: 0;

            .preview {
              width: 68%;
            }
          }

          .social-button-container {
            width: 171px;

            .social-button {
              background-color: #f0f0f1;
              margin-left: 0;

              &:hover {
                border: solid 2px #000000 !important;
              }
            }

            .facebook:hover,
            .instagram:hover,
            .twitter:hover {
              background-image: unset;
              background-color: #ffffff;

              .fb,
              .insta,
              .twitter {
                fill: #000;
              }
            }
          }
        }

        .info-card-moderation {
          .input-button-moderation {
            width: 60%;
            height: 50px;
            background-color: #ff6c6c;
            border-radius: unset;
            border: none;
            margin-bottom: 24px;

            .text {
              font-family: "Raleway";
              font-size: 16px;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
            }
          }

          .text-moderation {
            font-family: "Raleway";
            font-size: 14px;
            font-weight: 500;
            line-height: 1.5;
            color: #969b9f;
          }
        }

        .info-card-success {
          .input-button-success {
            width: 183px;
            height: 50px;
            background-color: #00e89c;
            border-radius: unset;
            border: none;

            .text {
              font-family: "Raleway";
              font-size: 16px;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
            }
          }
        }

        .info-card-fail {
          .input-button-fail {
            width: 197px;
            height: 50px;
            background-color: #000000;
            border-radius: unset;
            border: none;

            .text {
              font-family: "Raleway";
              font-size: 16px;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  .vacancy {
    margin-bottom: 86px;

    .vacancy-created {
      cursor: pointer;

      &:hover .input-button {
        display: block;
      }

      &:hover .person {
        @include backgr(url(../img/vacancy-cover-hover.png));
      }

      .position {
        .name-wrapper {
          // align-items: flex-end !important;
        }
      }

      .input-button {
        display: none;
        height: 50px;
        width: 168px;
        font-family: "Raleway";
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        background-color: #ffffff;
        border: none !important;

        &:hover {
          background-color: inherit;
          border: solid 2px #ffffff !important;
          color: #ffffff;
        }
      }
    }
  }

  .finance {
    .title-container {
      margin-bottom: 16px;
    }

    .button-block {
      max-width: unset;

      .button--finance {
        margin-right: 13.6%;
      }
    }
  }
}

.project-footer {
  padding-top: 50px;
}
