// @import "node_modules/bootstrap/scss/bootstrap.scss";
@import "general/skeleton.scss";
@import "general/fonts.scss";
@import "general/mixins.scss";

::-webkit-scrollbar {
  /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}

body {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
  position: relative;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* Add Popup Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "TTRounds";
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: unset;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

// input[type="email"]:focus,
// input[type="text"]:focus,
// input[type="password"]:focus,
// textarea:focus,
select:focus {
  border: solid 2px #000000 !important;
  outline: 0;
}

@import "common/header.scss";
@import "common/burger-menu.scss";
@import "common/form_popup.scss";
@import "common/top-project.scss";
@import "index/projects-preview.scss";
@import "index/want-help.scss";
@import "index/finance.scss";
@import "index/kickstarter.scss";
@import "index/choose.scss";
@import "common/footer.scss";
@import "settings.scss";
@import "common/signin_signup_for_mobile.scss";
@import "create.scss";
@import "common/responsive_tabs.scss";
@import "common/accordion_faq.scss";
@import "project.scss";
@import "dashboard.scss";
@import "catalog.scss";
@import "how.scss";
@import "rules_privacy.scss";
