.want-help {
  padding: 112px 0 102px 0;

  .text-block {
    @include flex(flex-start, flex-start, row, nowrap);
    padding-bottom: 49px;
  }

  .img-container {
    position: relative;
  }

  .img-text {
    font-family: "TTRounds";
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.24px;
    color: #28283d;

    &--publish {
      position: absolute;
      top: 41.5%;
      left: 0.8%;
    }

    &--find {
      position: absolute;
      top: 41.1%;
      left: 4.15%;
    }

    &--embody {
      position: absolute;
      top: 41.5%;
      left: 0.75%;
    }
  }

  .icon-chevron-first {
    position: absolute;
    top: 52.9%;
    left: 0.75%;
  }

  .icon-chevron-second {
    position: absolute;
    top: 52.9%;
    left: -0.35%;
  }

  .img-container .icon-chevron-right {
    font-size: 20px;
  }
}

.block-title {
  font-family: "TTRounds";
  font-size: 32px;
  font-weight: normal;
  line-height: 0.6;
  letter-spacing: normal;
  text-align: left;
  color: #28283d;

  &--blue {
    color: #00a6ed;
  }
}

label.toggle-button {
  margin-left: 35px;
  margin-right: 33px;
}
